.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: var(--transition);

  img {
    width: 35rem;
    transition: var(--transition);
  }

  &.fade-out {
    top: -110%;
    opacity: 0;
  }
}
