@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

:root {
  --white: #fff;
  --grey: #eee;
  --light-color: #666;
  --black: #192a56;
  --green: #27ae60;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --transition: all 0.2s linear;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;

  @media screen and (max-width: 991px) {
    font-size: 55%;
  }

  @media screen and (max-width: 450 px) {
    font-size: 50%;
  }
}

section {
  padding: 2rem;

  &:nth-child(even) {
    background-color: var(--grey);
  }

  @media screen and (max-width: 991px) {
    padding: 2rem;
  }
}

.button {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: var(--white);
  background: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem;
  transition: var(--transition);

  &:hover {
    background: var(--green);
    letter-spacing: 0.1rem;
  }
}

.heading {
  text-align: center;
  color: var(--black);
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  transition: var(--transition);
}

.sub-heading {
  text-align: center;
  color: var(--green);
  font-size: 2rem;
  padding-top: 1rem;
  transition: var(--transition);
}

.swiper {
  width: 100%;
  max-width: 1200px;
}

.swiper-pagination-bullet-active {
  background: var(--green);
}
